.footer-top {
    background-image: url("../img/footer-bg.jpg");
    height: 400px;
    background-position: center top;
    background-size: cover;
}
.link-footer {
    display: flex;
    h2 {
        padding-top: 1em;
        padding-right: 1.5em;
        padding-left: 0.6em;
        color: white;
    }
    ul {
        padding: 0.8em 1em;
        li {
            list-style: none;
            a {
                font-size: 0.9em;
                text-transform: none;
                text-decoration: none;
                color: lightgray;
            }
        }
    }
}
.disclaimer {
    font-size: 0.8em;
    color: lightgray;
    text-transform: none;
    padding-left: 1em;
    a {
        color: #0282f9;
        text-decoration: none;
    }
}
.footer-down {
    background-color: #303030;
    height: 100px;
    display: flex;
    .container-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
button {
    margin: 0 100px;
    border: 1px solid #0282f9;
    background-color: #303030;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h2 {
        color: #0282f9;
    }
    a {
        padding: 10px 15px;
    }
}
