.footer-top {
    background-image: url("../img/footer-bg.jpg");
    height: 400px;
    background-position: center top;
}
.link-footer {
    display: flex;
    h2 {
        padding-top: 1em;
        padding-right: 1.5em;
        padding-left: 0.6em;
        color: white;
    }
    ul {
        padding: 1em;
        li {
            list-style: none;
            a {
                font-size: 0.9em;
                text-transform: none;
                text-decoration: none;
                color: lightgray;
            }
        }
    }
}
