.header {
    .up-nav {
        background-color: #0282f9;

        ul {
            display: flex;
            justify-content: flex-end;
            max-width: 1400px;
            margin: 0 auto;
            li {
                margin: 0 10px;
                list-style: none;
                a {
                    padding: 10px;
                    font-size: 0.9rem;
                    text-decoration: none;
                    color: wheat;
                }
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em auto;
        padding-top: 1em;
    }

    .main-nav {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            display: flex;
            justify-content: space-around;
            li {
                margin: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: inline-block;
                    padding: 1.5em;
                    font-size: 1.1em;
                    text-decoration: none;
                    color: black;
                    &.active {
                        border-bottom: 0.5em solid #0282f9;
                        color: #0282f9;
                    }
                }
            }
        }
    }
}
